body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #161616
}

.alert {
    margin: 15px;
    text-align: center;
    color: #161616;
}

/* form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
} */

h2 {
    font-family: 'Russo One', sans-serif;
    color: #c4c4c4;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

h1 {
    font-family: 'Russo One', sans-serif;
    color: #c4c4c4;
    text-align: center;
    font-size: px;
    margin-top: 20px;
}

.logInput {
    margin-left: 18px;
    margin-right: auto;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.inputForm {
    background-color: #272727;
    width: 95%;
    height: 725px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.loginForm {
    background-color: #646464;
    width: 60%;
    height: 80%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.frontForm {
    background-color: #646464;
    width: 75%;
    height: 80%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mainButton {
    margin-top: 10px;
    height: 50px;
    width: 150px;
    color: #c4c4c4;
    background-color: #424242;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: 0px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mainButton:hover {
    background-color: #cd9f2b;
  }

  a:link {
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    text-decoration: none;
    color: #c4c4c4;
  }
  
  /* mouse over link */
  a:hover {
    text-decoration: none;
    color: #c4c4c4;;
  }
  
  /* selected link */
  a:active {
    text-decoration: none;
    color: #c4c4c4;;
  }

